.App {
  text-align: center;
  position: relative;
  padding: 0;
}

.letter-container {
  width: 500px;
  padding: 0;
  border: 1px black solid;
}

.tool-tip {
  border: 1px black solid;
  height: 80px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  padding: 0 15px;
}

.button-container {
  width: 530px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.letter {
  resize: none;
  outline: none;
  overflow: auto;
  width: 500px;
  font-family: Montserrat, sans-serif;
  padding: 15px 15px 0px 15px;
  border: none;
  display: flex;
  justify-content: left;
  margin: 0;
}

.letter-subject {
  font-size: 18px;
  height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 498px;
}

.letter-body {
  font-size: 14px;
  height: 435px;
  width: 498px;
}

.letter-date {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.letter-signature {
  margin: 0;
  padding: 10px 25px 20px 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

p.letter-signature {
  padding: 0px;
}

.letter-button {
  background-color: #6cd077 !important;
  border-color: #6cd077 !important;
  opacity: 1 !important;
  animation: none !important;
}


.letter-button:active {
  background-color: #6cd077 !important;
  border-color: #6cd077 !important;
  opacity: 1 !important;
  animation: none !important;
}

.letter-button:hover {
  background-color: #59ac62 !important;
  border-color: #59ac62 !important;
  opacity: 1 !important;
  animation: none !important;
}

.report-button {
  background-color: #d06c6c !important;
  border-color: #d06c6c !important;
  opacity: 1 !important;
  animation: none !important;
}

.report-button:active {
  background-color: #d06c6c !important;
  border-color: #d06c6c !important;
  opacity: 1 !important;
  animation: none !important;
}

.report-button:hover {
  background-color: #ac5959 !important;
  border-color: #ac5959 !important;
  opacity: 1 !important;
  animation: none !important;
}



.carousel-control-prev-icon {
  background-image: url("../assets/arrow_back_ios_24px_sharp.svg");
}

.carousel-control-next-icon {
  background-image: url("../assets/arrow_forward_ios_24px_sharp.svg");
}

.carousel-indicators {
  display: none;
}

.letter-carousel {
  width: 70%;
}

.carousel-fade {
  transition-duration: 1s !important;
}

.create-button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.back-button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.back-container {
  display: flex;
  justify-content: space-between;
}

.third {
  width: 90px;
  display: flex;
  align-items: center;
}

.norm-container {
  position: relative;
  margin: 0 14%;
  overflow: hidden;
}

.body-container {
  margin-top: 50px;
  overflow: hidden;
}

.end-container {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}

.sub-container {
  position: relative;
  margin:0 4.5%;
}

.translucent-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -98;
  background-color: rgba(132, 132, 132, 0.5);
  box-sizing: content-box;
}

.primary-text {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 200%;
  letter-spacing: 0.02em;
  padding: 0 6.5%;
  text-align: justify;
}

.thread-link {
  display: flex;
  justify-content: space-between;
  border: none;
  border-bottom: 0.5px black solid;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.thread-container {
  padding: 0;
}

.row-thread {
  width: 100%;
  text-align: left;
}

.right-align {
  text-align: right;
}

.responses-container {
  padding-top: 82px;
}

.horizontal-thread-container {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 700px;
  margin-top: 50px;
}

.row-flex {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.letter-cards {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  border: none;
}

.thread-send {
  margin: 30px 0px 0px 0px;
  flex-direction: row-reverse;
  width: 515px;
}

.reply-send {
  width: 500px;
}

.row-evenly {
  justify-content: space-evenly;
}

.letter-container-reply {
  height: 541px;
}

.credits {
  font-size: 10px;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 100px;
}