.App {
  text-align: center;
  position: relative;
  padding: 0;
}

.letter-container {
  width: 500px;
  padding: 0;
  border: 1px black solid;
}

.tool-tip {
  border: 1px black solid;
  height: 80px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  padding: 0 15px;
}

.button-container {
  width: 530px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.letter {
  resize: none;
  outline: none;
  overflow: auto;
  height: 500px;
  width: 500px;
  font-family: Montserrat, sans-serif;
  padding: 15px 15px 0px 15px;
  font-size: 14px;
  border: none;
  display: flex;
  justify-content: left;
  margin: 0;
}

.letter-signature {
  margin: 0;
  padding: 10px 25px 20px 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

p.letter-signature {
  padding: 0px;
}

.letter-button {
  background-color: #6cd077;
  border-color: #6cd077;
  opacity: 1 !important;
  animation: none !important;
}

.letter-button:hover {
  background-color: #59ac62;
  border-color: #59ac62;
  opacity: 1 !important;
  animation: none !important;
}

.report-button {
  background-color: #d06c6c;
  border-color: #d06c6c;
  opacity: 1 !important;
  animation: none !important;
}

.report-button:hover {
  background-color: #ac5959;
  border-color: #ac5959;
  opacity: 1 !important;
  animation: none !important;
}

.carousel-control-prev-icon {
  background-image: url("../assets/arrow_back_ios_24px_sharp.svg");
}

.carousel-control-next-icon {
  background-image: url("../assets/arrow_forward_ios_24px_sharp.svg");
}

.carousel-indicators {
  display: none;
}

.letter-carousel {
  width: 70%;
}

.carousel-fade {
  transition-duration: 1s;
}

.create-button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
}

.norm-container {
  position: relative;
  margin: 0 14%;
  overflow: hidden;
}

.body-container {
  margin-top: 50px;
  overflow: hidden;
}

.end-container {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.sub-container {
  position: relative;
  margin:0 4.5%;
}

.translucent-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -98;
  background-color: rgba(132, 132, 132, 0.5);
  box-sizing: content-box;
}

.primary-text {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 200%;
  letter-spacing: 0.02em;
  padding: 0 6.5%;
  text-align: justify;
}

@media screen and (max-width: 575px){
  .primary-text {
      font-size: 0.95rem;
      line-height: 200%;
      letter-spacing: 0.02rem;
  }
}